@import 'lib/shadows';
@import 'lib/mediaQueries';
@import 'lib/transform';
@import 'lib/colors';
@import 'lib/transitions';
@import 'icons';

.root,
.app,
.home,
.map {
	height: 100%;
}

.my-maps {
  img {
    width: 42px;
    height: 42px;
  }
  .table-view-cell>a:not(.btn) {
    padding-right: 16px;
    .icon {
      color: $icon-color;
    }
  }
}


/**********************************
***** Floating Action Button ******
**********************************/
.btn-float {
  width: 56px;
  height: 56px;
  position: fixed;
  z-index: 6;
  bottom: 30px;
  right: 0;
  margin-right: 16px;
  border-radius: 32px;
  font-size: 24px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  @include box-shadow(0.4, 0, 4px, 12px, 0px);
  &:active {
    @include box-shadow(0.29804, 0, 10px, 16px, 1px);
  }
}

@import 'partials/titlebar';
@import 'partials/dirmap';
@import 'partials/loading';